<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisering av data</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Pris/kvadrat för en hyresbostad med ett rum i Åbo samt allmänt bostadsbidrag för en studie-etta i Åbo år 2015-2023</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>År</th>
                    <th>Pris/kvadrat i euro</th>
                    <th>Allmänt bostadsbidrag i euro</th>
                </tr>
            </thead>
            <tbody>
                <!--render data in table-->
                {% for api_data, csv_data in combined_data %}
                <tr>
                    {% for value in api_data %}
                    <td>{{ value }}</td>
                    {% endfor %}
                    <td>{{ csv_data }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <b> Fråga 1: Vilket år var priset/kvadrat billigast?  </b>
        <p> 1. År 2015 var det billigaste priset med 14,79€/m<sup>2</sup>. </p>
        <b> Fråga 2: Vad var priset/kvadrat år 2017?  </b>
        <p> 2. År 2017 var priset 15,54€/m<sup>2</sup>.</p>
        <b> Fråga 3: Hur mycket har priset/kvadrat stigit från år 2015-2023?  </b>
        <p> 3. Sedan år 2015 har priset stigit från 14,79€/m<sup>2</sup> med 3,65€/m<sup>2</sup> till 18,44€/m<sup>2</sup> </p>
        <b> Fråga 4: Vad är den procentuella ökningen per år i pris/kvadrat?  </b>
        <p> 4. Mellan år 2015 till 2016 steg priset med ca. 2,84% <br>
             Mellan år 2016 till 2017 steg priset med ca. 2,17% <br>
             Mellan år 2017 till 2018 steg priset med ca. 2,10% <br> 
             Mellan år 2018 till 2019 steg priset med ca. 2,52% <br>
             Mellan år 2019 till 2020 steg priset med ca. 4,18% <br> 
             Mellan år 2020 till 2021 steg priset med ca. 2,13% <br>
             Mellan år 2021 till 2022 steg priset med ca. 2,37% <br>
             Mellan år 2022 till 2023 steg priset med ca. 4,12%</p>
        <b> Fråga 5: Motsvarar bostadsstödets ökning pris/kvadrat ökning?  </b>
        <p> 5.  Mellan år 2016 till 2017 steg bodstadsbidraget med ca. 0,77%.    Bidraget ökte inte lika mycket som priset.<br>
                Mellan år 2017 till 2018 steg bodstadsbidraget med ca. 1,97%.    Bidraget ökar inte nästan lika mycket som priset. <br>
                Mellan år 2018 till 2019 sjönk bodstadsbidraget med ca. 0,73%.   Bidraget sjönk medan priset ökte.<br>
                Mellan år 2019 till 2020 steg bodstadsbidraget med ca. 1,12%.    Bidraget ökte mycket mindre än priset.<br>
                Mellan år 2020 till 2021 steg bodstadsbidraget med ca. 0,11%     Bidraget ökte mycket mindre än priset.<br>
                Mellan år 2021 till 2022 steg bodstadsbidraget med ca. 2,40%     Bidraget ökte lika mycket som priset.<br>
                Mellan år 2022 till 2023 steg bodstadsbidraget med ca. 8,30%     Bidraget fördubblades gemfört med priset.<br></p>
        <b> Fråga 6: Mellan vilka år har bostadsstödet ökat mest?  </b>
        <p> 6. Mellan år 2022 och 2023 med en ökning på 25,21€  </p>
        <b> Fråga 7: Mellan vilka år har pris/kvadrat ökat minst?  </b>
        <p> 7. om man bortser minskningen på 0,04€ mellan år 2020 och 2021 är minsta ökningen mellan år 2018 och 2019 med en ökning på 0,00€ </p>
        <b> Fråga 8: Om en bostad är av 30 kvadratmeter, hur mycket räcker bostadsstödet till år 2015?  </b>
        <p> 8. Enligt pris/kvadrat för år 2015, skulle en 30 kvadratmeters bostad vara 455,70€ med bostadsstöd på 284,49€ för samma år. Bostadsstödet skulle då täcka 62,4% av hyran</p>
        <b> Fråga 9: Hur stor får en bostad högst vara i kvadratmeter, för att bostadsstödet ska räcka till år 2023?  </b>
        <p> 9. Bostaden får vara högst 329,08€ / 18,44 €/m^2 = 17,85 m^2 stor</p>
        <b> Fråga 10: Lämnar det några pengar över av bostadsbidraget om en bostad är 10 kvadratmeter år 2018?  </b>
        <p> 10. Ja, det lämnar 290,20€ - 162,6€ = 127,60€ kvar </p>
    
        
    </div>
</body>

</html>