<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisering av data</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Pris/kvadrat för en hyresbostad med ett rum i Åbo samt allmänt bostadsbidrag för en studie-etta i Åbo år 2015-2023</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>År</th>
                    <th>Pris/kvadrat i euro</th>
                    <th>Allmänt bostadsbidrag i euro</th>
                </tr>
            </thead>
            <tbody>
                {% for api_data, csv_data in combined_data %}
                <tr>
                    {% for value in api_data %}
                    <td>{{ value }}</td>
                    {% endfor %}
                    <td>{{ csv_data }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <b> Fråga 1: Vilket år var priset/kvadrat billigast?  </b>
        <p> 1. Gosh </p>
        <b> Fråga 2: Vad var priset/kvadrat år 2017?  </b>
        <p> 2. Gosh </p>
        <b> Fråga 3: Hur mycket har priset/kvadrat stigit från år 2015-2023?  </b>
        <p> 3. Gosh </p>
        <b> Fråga 4: Vad är den procentuella ökningen per år i pris/kvadrat?  </b>
        <p> 4. Gosh </p>
        <b> Fråga 5: Motsvarar bostadsstödets ökning pris/kvadrat ökning?  </b>
        <p> 5. Gosh </p>
        <b> Fråga 6: Mellan vilka år har bostadsstödet ökat mest?  </b>
        <p> 6. Gosh </p>
        <b> Fråga 7: Mellan vilka år har pris/kvadrat ökat minst?  </b>
        <p> 7. Gosh </p>
        <b> Fråga 8: Om en bostad är av 30 kvadratmeter, hur mycket räcker bostadsstödet till år 2015?  </b>
        <p> 8. Gosh </p>
        <b> Fråga 9: Hur stor får en bostad högst vara i kvadratmeter, för att bostadsstödet ska räcka till år 2023?  </b>
        <p> 9. Gosh </p>
        <b> Fråga 10: Lämnar det några pengar över av bostadsbidraget om en bostad är 10 kvadratmeter år 2018?  </b>
        <p> 10.  </p>
        
    </div>
</body>

</html>